* {
  box-sizing: border-box;
  // outline: 1px solid red;
}
body {
  font-family: "Courier Prime";
}
.jmk {
  &__body {
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    display:flex;
    flex:1;
    flex-wrap: nowrap;
    height: 100vh;
  }
}

img {
  width: 100%;
}
h1{
  font-size: 30px;
}


.imdb-link {
   
  &.in-title{
      vertical-align: middle;
      display: none;
  }
  &.in-filter{
      text-align:center;
      display:inline-block;
  }
  img{
      width: 30%;
      height: 30%;
  }
}

@media screen and (min-width:1025px){
  .jmk {
    &__body {
      position: fixed;
    }
  }
  h1{
    font-size: 26px;
  }
  .content-headline{
    display:none;
  }
  .imdb-link {
   
    &.in-title{
        display: inline-flex;
    }
    &.in-filter{
        display:none;
    }
    img{
        width: 30%;
        height: 30%;
    }
}
}