.jmk {
  &__head-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 400px;
    height:100%;
    padding:0 30px 30px;
  }
}

.nav {
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: left;
  padding: 0;
  &-item {
    display: block;
    list-style-type: none;
    a {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 30px;
      padding: 5px 15px;
    }
  }
}

@media (min-width: 1025px) {
  .jmk {
    &__menu-button{
    display: none;
    }

    &__head-wrapper{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      max-width: 400px;
      height:100%;
      padding:0 50px 30px;
      
    }
  }

  .nav {
 
    &-item {
     
      a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 30px;
        padding: 5px 0;
      }
    }
  }
}
