$black: black;
$lighterblack: #262626;
$white: white;
$creamywhite: #fffffa;
$beton: #a1a194;
$grey: #5B605f;
$deepgrey: #464646;
$orange: #ff6600;


$gradient-beton-deepgrey: linear-gradient(to bottom, #464646 0%,#5B605f 100%);
$gradient-creamywhite-beton:linear-gradient(to bottom, #5B605f 0%,#fffffa 100%);